@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #737373;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #737373;
  }
}

body {
  background: white;
  color: var(--foreground);
  font-family: var(--font-noto-kufi), system-ui, sans-serif;
}

